@import url(./root.css);

/* CSS Custom Properties for theme-based icon filtering */
[data-theme='dark'],
[data-theme='gray'] {
    --icon-filter: brightness(0) invert();
}

[data-theme='light'] {
    --icon-filter: none;
}

.ai-loader {
    min-width: 72px;
    min-height: 72px;
    max-width: 72px;
    max-height: 72px;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    filter: invert();
}


[data-theme='dark'] audio, [data-theme='gray'] audio {
    overflow: hidden;
}

[data-theme='dark'] audio::-webkit-media-controls-panel, [data-theme='gray'] audio::-webkit-media-controls-panel {
    background-color: #9d9d9d;
}

[data-theme='dark'] audio::-webkit-media-controls-play-button, [data-theme='gray'] audio::-webkit-media-controls-play-button {
    background-color: #8f8f8f;
    border-radius: 50%;
}

[data-theme='dark'] audio::-webkit-media-controls-play-button:hover, [data-theme='gray'] audio::-webkit-media-controls-play-button:hover {
    background-color: #878787
}

.arrow,
.bold,
.bounties,
.code,
.curation,
.discord-logo,
.edit,
.facebook-logo,
.filter,
.home,
.image,
.instagram-logo,
.italic,
.link,
.metamask-logo,
.podcast,
.posts,
.quote,
.search,
.setting,
.stories,
.title,
.trash,
.twitter-logo,
.video,
.env,
.warning,
.info-flag,
.success,
.weechat-logo,
.arrow-24,
.arrow-12,
.bold-24,
.bounties-24,
.code-24,
.curation-24,
.discord-logo-24,
.edit-24,
.facebook-logo-24,
.filter-24,
.home-24,
.image-24,
.instagram-logo-24,
.italic-24,
.plain,
.plain-24,
.link-24,
.metamask-logo-24,
.podcast-24,
.posts-24,
.quote-24,
.search-24,
.setting-24,
.stories-24,
.title-24,
.trash-24,
.twitter-logo-24,
.video-24,
.admin,
.admin-24,
.views,
.views-24,
.polls,
.polls-24,
.categories,
.categories-24,
.comment-icon,
.comment-24,
.like,
.like-24,
.like-bold,
.like-bold-24,
.send,
.send-24,
.cancel,
.cancel-24,
.env-24,
.logout,
.logout-24,
.weechat-logo-24,
.warning-24,
.info-flag-24,
.success-24,
.golden-medal,
.silver-medal,
.bronze-medal,
.copy-24,
.copy .switch-arrows,
.switch-arrows-24,
.user,
.user-24,
.server-24,
.server,
.key-icon-24,
.key-icon,
.menu-24,
.menu,
.lightning,
.lightning-24,
.arrow-up,
.arrow-up-bold,
.bolt-24,
.bolt,
.checkmark,
.checkmark-24,
.flag,
.upload-file,
.upload-file-24,
.bookmark,
.bookmark-24,
.bookmark-b,
.bookmark-24-b,
.bookmark-i,
.bookmark-i-24,
.bookmark-i-b,
.bookmark-i-b-24,
.report,
.report-24,
.fb-icon,
.fb-icon-24,
.whatsapp-icon,
.whatsapp-icon-24,
.in-icon,
.in-icon-24,
.share-icon,
.share-icon-24,
.share-icon-2,
.share-icon-2-24,
.add-curation,
.add-curation-24,
.nip05,
.nip05-24,
.content-s,
.content-s-24,
.news,
.news-24,
.mobile,
.mobile-24,
.play-b,
.play-b-24,
.globe,
.globe-24,
.calendar,
.calendar-24,
.note,
.note-24,
.cup,
.cup-24,
.thumbsup,
.thumbsup-24,
.thumbsdown,
.thumbsdown-24,
.msg-bubbles,
.msg-bubbles-24,
.medal,
.medal-24,
.add-note,
.add-note-24,
.checkmark-c1,
.checkmark-c1-24,
.telegram-logo,
.telegram-logo-24,
.msg-icon,
.msg-icon-24,
.nostr-icon,
.nostr-icon-24,
.ringbell,
.ringbell-24,
.protected,
.protected-24,
.unprotected,
.unprotected-24,
.buzz,
.buzz-24,
.folder,
.folder-24,
.write,
.write-24,
.play,
.play-24,
.play-vid,
.play-vid-58,
.download-file,
.download-file-24,
.connect,
.connect-24,
.ai-loader,
.infinity,
.infinity-24,
.env-edit-24,
.env-edit,
.quote,
.quote-24,
.heart,
.heart-24,
.heart-bold,
.heart-bold-24,
.switch-arrows-bold,
.switch-arrows-bold-24,
.quote-bold,
.quote-bold-24,
.note-2,
.note-2-24,
.hashtag,
.hashtag-24,
.media,
.media-24,
.plus-sign,
.plus-sign-24,
.note-plus,
.note-plus-24,
.play-plus,
.play-plus-24,
.curation-plus,
.curation-plus-24,
.news-plus,
.news-plus-24,
.posts-plus,
.posts-plus-24,
.sats,
.sats-24,
.eye-opened,
.eye-opened-24,
.eye-closed,
.eye-closed-24,
.buzz-bold,
.buzz-bold-24,
.curation-bold,
.curation-bold-24,
.env-bold,
.env-bold-24,
.folder-bold,
.folder-bold-24,
.home-bold,
.home-bold-24,
.media-bold,
.media-bold-24,
.news-bold,
.news-bold-24,
.note-2-bold,
.note-2-bold-24,
.note-bold,
.note-bold-24,
.play-bold,
.play-bold-24,
.posts-bold,
.posts-bold-24,
.bookmark-i-bold,
.bookmark-i-bold-24,
.alby-logo,
.alby-logo-24,
.nwc-logo,
.nwc-logo-24,
.comment-not,
.comment-not-24,
.user-followed-w,
.user-followed-w-24,
.user-followed,
.user-followed-24,
.user-to-follow,
.user-to-follow-24,
.user-to-unfollow,
.user-to-unfollow-24,
.share-v2,
.share-v2-24,
.plus-sign-w,
.plus-sign-w-24,
.trending-up,
.trending-up-24,
.timeline,
.timeline-24,
.followings,
.followings-24,
.wallet,
.wallet-24,
.webln-logo,
.webln-logo-24,
.mute,
.mute-24,
.unmute,
.unmute-24,
.qrcode,
.qrcode-24,
.wallet-add,
.wallet-add-24,
.smart-widget-add,
.smart-widget-add-24,
.text,
.text-24,
.button,
.button-24,
.container-one,
.container-one-24,
.container-one-one,
.container-one-one-24,
.container-one-two,
.container-one-two-24,
.container-two-one,
.container-two-one-24,
.youtube-logo,
.youtube-logo-24,
.telegram-b-logo,
.telegram-b-logo-24,
.twitter-w-logo, .twitter-w-logo-24,
.frames,
.frames-24,
.smart-widget,
.smart-widget-24,
.smart-widget-bold,
.smart-widget-bold-24,
.layout,
.layout-24,
.clone,
.clone-24,
.checkmark-tt,
.checkmark-tt-24,
.crossmark-tt,
.crossmark-tt-24,
.info-tt,
.info-tt-24,
.smart-widget-checker,
.smart-widget-checker-24,
.layers,
.layers-24,
.switch-arrows,
.switch-arrows-24,
.copy-24,
.copy,
.smart-widget-draft,
.smart-widget-draft-24,
.bunny-icon,
.total-events,
.total-events-24,
.succeeded-events,
.succeeded-events-24,
.failed-events,
.failed-events-24,
.theme,
.theme-24,
.cache,
.cache-24,
.arrow-12,
.dashboard,
.dashboard-24,
.dashboard-bold,
.dashboard-bold-24,
.bolt-bold,
.bolt-bold-24,
.discover,
.discover-24,
.discover-bold,
.discover-bold-24,
.info,
.info-24,
.yaki-logomark,
.custom,
.custom-24,
.undo,
.undo-24,
.wallet-confirm,
.wallet-confirm-24,
.logout-red,
.logout-red-24,
.check,
.check-24,
.google,
.google-24,
.apple,
.apple-24,
.emoji,
.emoji-24,
.translate,
.translate-24,
.flag-en,
.flag-en-24,
.flag-ar,
.flag-ar-24,
.flag-es,
.flag-es-24,
.flag-pt,
.flag-pt-24,
.flag-ja,
.flag-ja-24,
.flag-zh,
.flag-zh-24,
.flag-th,
.flag-th-24,
.flag-it,
.flag-it-24,
.flag-fr,
.flag-fr-24,
.flag-hi,
.flag-hi-24,
.flag-ru,
.flag-ru-24 .user-bold,
.user-bold-24,
.export,
.export-24,
.keplr-icon,
.github-logo,
.github-logo-24,
.ringbell-bold,
.ringbell-bold-24,
.posts-bold,
.posts-bold-24,
.switch-arrows-v2,
.switch-arrows-v2-24,
.star,
.star-24,
.star-bold,
.star-bold-24,
.burger-menu,
.burger-menu-24,
.raw-event,
.raw-event-24,
.pub-hex,
.pub-hex-24,
.recent,
.recent-24,
.recent-wr,
.recent-wr-24,
.republish,
.republish-24,
.protected-2,
.protected-2-24,
.orbit,
.orbit-24,
.orbit-bold,
.orbit-bold-24,
.zapstore,
.zapstore-24,
.bug,
.bug-24,
.broken-image,
.broke-image-24,
.pin,
.pin-24,
.unpin,
.unpin-24,
.download,
.download-24,
.volume-muted,
.volume-muted-24,
.volume-normal,
.volume-normal-24,
.video-play,
.video-play-24,
.video-pause,
.video-pause-24,
.redeem-ecash,
.redeem-ecash-24,
.send-ecash,
.send-ecash-24,
.restore,
.restore-24,
.nut-zap,
.nut-zap-24,
.deposit-sats,
.deposit-sats-24 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.arrow,
.bold,
.bounties,
.code,
.curation,
.edit,
.facebook-logo,
.filter,
.home,
.image,
.instagram-logo,
.italic,
.link,
.metamask-logo,
.podcast,
.posts,
.quote,
.search,
.setting,
.stories,
.title,
.twitter-logo,
.video,
.env,
.info-flag,
.success,
.weechat-logo,
.arrow-24,
.bold-24,
.bounties-24,
.code-24,
.curation-24,
.edit-24,
.facebook-logo-24,
.filter-24,
.home-24,
.image-24,
.instagram-logo-24,
.italic-24,
.plain,
.plain-24,
.link-24,
.metamask-logo-24,
.podcast-24,
.posts-24,
.quote-24,
.search-24,
.setting-24,
.stories-24,
.title-24,
.twitter-logo-24,
.video-24,
.admin,
.admin-24,
.views,
.views-24,
.polls,
.polls-24,
.categories,
.categories-24,
.comment-icon,
.comment-24,
.like,
.like-24,
.like-bold,
.like-bold-24,
.send,
.send-24,
.cancel,
.cancel-24,
.env-24,
.logout,
.logout-24,
.weechat-logo-24,
.info-flag-24,
.flag,
.flag-24,
.success-24,
.golden-medal,
.silver-medal,
.bronze-medal,
.copy-24,
.copy,
.switch-arrows,
.switch-arrows-24,
.user,
.user-24,
.server-24,
.server,
.key-icon-24,
.key-icon,
.menu-24,
.menu,
.lightning,
.lightning-24,
.arrow-up,
.arrow-up-bold,
.bolt-24,
.bolt,
.flag,
.upload-file,
.upload-file-24,
.bookmark,
.bookmark-24,
.bookmark-b,
.bookmark-24-b,
.bookmark-i,
.bookmark-i-24,
.bookmark-i-b,
.bookmark-i-b-24,
.report,
.report-24,
.fb-icon,
.fb-icon-24,
.whatsapp-icon,
.whatsapp-icon-24,
.in-icon,
.in-icon-24,
.share-icon,
.share-icon-24,
.share-icon-2,
.share-icon-2-24,
.add-curation,
.add-curation-24,
.nip05,
.nip05-24,
.content-s,
.content-s-24,
.news,
.news-24,
.mobile,
.mobile-24,
.play-b,
.play-b-24,
.globe,
.globe-24,
.calendar,
.calendar-24,
.note,
.note-24,
.cup,
.cup-24,
.thumbsup,
.thumbsup-24,
.thumbsdown,
.thumbsdown-24,
.msg-bubbles,
.msg-bubbles-24,
.medal,
.medal-24,
.add-note,
.add-note-24,
.msg-icon,
.msg-icon-24,
.nostr-icon,
.nostr-icon-24,
.ringbell,
.ringbell-24,
.unprotected,
.unprotected-24,
.buzz,
.buzz-24,
.folder,
.folder-24,
.write,
.write-24,
.play,
.play-24,
.download-file,
.download-file-24,
.infinity,
.infinity-24,
.env-edit-24,
.env-edit,
.quote,
.quote-24,
.heart,
.heart-24,
.note-2,
.note-2-24,
.hashtag,
.hashtag-24,
.media,
.media-24,
.plus-sign,
.plus-sign-24,
.note-plus,
.note-plus-24,
.play-plus,
.play-plus-24,
.curation-plus,
.curation-plus-24,
.news-plus,
.news-plus-24,
.posts-plus,
.posts-plus-24,
.sats,
.sats-24,
.eye-opened,
.eye-opened-24,
.eye-closed,
.eye-closed-24,
.buzz-bold,
.buzz-bold-24,
.curation-bold,
.curation-bold-24,
.env-bold,
.env-bold-24,
.folder-bold,
.folder-bold-24,
.home-bold,
.home-bold-24,
.media-bold,
.media-bold-24,
.news-bold,
.news-bold-24,
.note-2-bold,
.note-2-bold-24,
.note-bold,
.note-bold-24,
.play-bold,
.play-bold-24,
.posts-bold,
.posts-bold-24,
.bookmark-i-bold,
.bookmark-i-bold-24,
.comment-not,
.comment-not-24,
.user-followed,
.user-followed-24,
.share-v2,
.share-v2-24,
.user-to-follow,
.user-to-follow-24,
.user-to-unfollow,
.user-to-unfollow-24,
.logout,
.logout-24, .trending-up,
.trending-up-24,
.timeline,
.timeline-24,
.followings,
.followings-24,
.wallet,
.wallet-24,
.qrcode,
.qrcode-24,
.wallet-add,
.wallet-add-24,
.smart-widget-add,
.smart-widget-add-24,
.text,
.text-24,
.button,
.button-24,
.container-one,
.container-one-24,
.container-one-one,
.container-one-one-24,
.container-one-two,
.container-one-two-24,
.container-two-one,
.container-two-one-24,
.frames,
.frames-24,
.smart-widget,
.smart-widget-24,
.smart-widget-bold,
.smart-widget-bold-24,
.layout,
.layout-24,
.clone,
.clone-24,
.smart-widget-checker,
.smart-widget-checker-24,
.layers,
.layers-24,
.smart-widget-draft,
.smart-widget-draft-24,
.total-events,
.total-events-24,
.succeeded-events,
.succeeded-events-24,
.failed-events,
.failed-events-24,
.theme,
.theme-24,
.cache,
.cache-24,
.arrow-12,
.dashboard,
.dashboard-24,
.dashboard-bold,
.dashboard-bold-24,
.discover,
.discover-24,
.discover-bold,
.discover-bold-24,
.yaki-logomark,
.custom,
.custom-24,
.wallet-confirm,
.wallet-confirm-24,
.check,
.check-24,
.google,
.google-24,
.apple,
.apple-24,
.emoji,
.emoji-24,
.translate,
.translate-24,
.user-bold,
.user-bold-24,
.export,
.export-24,
.github-logo,
.github-logo-24,
.ringbell-bold,
.ringbell-bold-24,
.posts-bold,
.posts-bold-24,
.switch-arrows-v2,
.switch-arrows-v2-24,
.star,
.star-24,
.star-bold,
.star-bold-24,
.burger-menu,
.burger-menu-24,
.raw-event,
.raw-event-24,
.pub-hex,
.pub-hex-24,
.recent,
.recent-24,
.recent-wr,
.recent-wr-24,
.republish,
.republish-24,
.protected-2,
.protected-2-24,
.orbit,
.orbit-24,
.orbit-bold,
.orbit-bold-24,
.zapstore,
.zapstore-24,
.bug,
.bug-24,
.pin,
.pin-24,
.unpin,
.unpin-24,
.download,
.download-24,
.volume-muted,
.volume-muted-24,
.volume-normal,
.volume-normal-24,
.video-play,
.video-play-24,
.video-pause,
.video-pause-24,
.redeem-ecash,
.redeem-ecash-24,
.send-ecash,
.send-ecash-24,
.restore,
.restore-24,
.nut-zap,
.nut-zap-24,
.deposit-sats,
.deposit-sats-24 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
    filter: var(--icon-filter, none);
}

.checkmark-c1,
.bold,
.bold-24,
.like-bold,
.like-bold-24,
.arrow-up-bold,
.heart-bold,
.heart-bold-24,
.switch-arrows-bold,
.switch-arrows-bold-24,
.quote-bold,
.quote-bold-24,
.buzz-bold,
.buzz-bold-24,
.curation-bold,
.curation-bold-24,
.env-bold,
.env-bold-24,
.folder-bold,
.folder-bold-24,
.home-bold,
.home-bold-24,
.media-bold,
.media-bold-24,
.news-bold,
.news-bold-24,
.note-2-bold,
.note-2-bold-24,
.note-bold,
.note-bold-24,
.play-bold,
.play-bold-24,
.posts-bold,
.posts-bold-24,
.bookmark-i-bold,
.bookmark-i-bold-24,
.smart-widget-bold,
.smart-widget-bold-24,
.dashboard-bold,
.dashboard-bold-24,
.bolt-bold,
.bolt-bold-24,
.discover-bold,
.discover-bold-24,
.user-bold,
.user-bold-24,
.ringbell-bold,
.ringbell-bold-24,
.posts-bold,
.posts-bold-24,
.star-bold,
.star-bold-24,
.trash,
.tash-24,
.orbit,
.orbit-24,
.orbit-bold,
.orbit-bold-24,
.zapstore,
.zapstore-24,
.bug,
.bug-24,
.broken-image,
.broke-image-24 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.ai-loader {
    filter: none;
    background-blend-mode: screen;
    background-color: var(--white);
}

.telegram-logo,
.telegram-logo-24 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
    filter: invert();
}

.arrow,
.bold,
.bounties,
.code,
.curation,
.discord-logo,
.edit,
.facebook-logo,
.filter,
.home,
.image,
.instagram-logo,
.italic,
.plain,
.link,
.metamask-logo,
.podcast,
.posts,
.quote,
.search,
.setting,
.stories,
.title,
.trash,
.twitter-logo,
.video,
.admin,
.views,
.polls,
.categories,
.comment-icon,
.like,
.like-bold,
.send,
.cancel,
.env,
.weechat-logo,
.warning,
.info-flag,
.success,
.logout,
.switch-arrows,
.user, .server,
.key-icon,
.menu,
.bolt,
.checkmark,
.flag,
.flag-24,
.upload-file,
.bookmark,
.bookmark-b,
.bookmark-i,
.bookmark-i-b,
.report,
.fb-icon,
.whatsapp-icon,
.in-icon,
.share-icon,
.share-icon-2,
.add-curation,
.nip05,
.content-s,
.news,
.mobile,
.play-b,
.globe,
.calendar,
.note,
.cup,
.thumbsup,
.thumbsdown,
.msg-bubbles,
.medal,
.add-note,
.checkmark-c1,
.telegram-logo,
.msg-icon,
.nostr-icon,
.ringbell,
.protected,
.unprotected,
.buzz,
.folder,
.write,
.play,
.play-vid,
.download-file,
.connect,
.infinity,
.env-edit,
.quote,
.heart,
.heart-bold,
.switch-arrows-bold,
.quote-bold,
.note-2,
.hashtag,
.media,
.plus-sign,
.note-plus,
.play-plus,
.curation-plus,
.news-plus,
.posts-plus,
.sats,
.eye-opened,
.eye-closed,
.buzz-bold,
.curation-bold,
.env-bold,
.folder-bold,
.home-bold,
.media-bold,
.news-bold,
.note-2-bold,
.note-bold,
.play-bold,
.posts-bold,
.bookmark-i-bold,
.alby-logo,
.nwc-logo,
.comment-not,
.user-followed,
.share-v2,
.user-to-follow,
.user-to-unfollow,
.user-followed-w,
.plus-sign-w,
.trending-up,
.lightning,
.timeline,
.followings,
.wallet,
.webln-logo,
.mute,
.unmute,
.qrcode,
.wallet-add,
.smart-widget-add,
.text,
.button,
.container-one,
.container-one-one,
.container-one-two,
.container-two-one,
.youtube-logo,
.discord-logo,
.telegram-b-logo,
.twitter-w-logo,
.frames,
.smart-widget,
.smart-widget-bold,
.copy,
.layout,
.clone,
.checkmark-tt,
.crossmark-tt,
.info-tt,
.smart-widget-checker,
.layers,
.smart-widget-draft,
.total-events,
.succeeded-events,
.failed-events,
.theme,
.cache,
.dashboard,
.dashboard-bold,
.bolt-bold,
.discover,
.discover-bold,
.info,
.custom,
.undo,
.wallet-confirm,
.logout-red,
.check,
.google,
.apple,
.emoji,
.flag-en,
.flag-ar,
.flag-es,
.flag-pt,
.flag-ja,
.flag-zh,
.flag-th,
.flag-it,
.flag-fr,
.flag-hi,
.flag-ru,
.user-bold,
.export,
.github-logo,
.ringbell-bold,
.posts-bold,
.switch-arrows-v2,
.star,
.star-bold,
.burger-menu,
.raw-event,
.pub-hex,
.recent,
.recent-wr,
.republish,
.protected-2,
.orbit,
.orbit-bold,
.zapstore,
.bug,
.broken-image,
.pin,
.unpin,
.download,
.volume-muted .volume-normal,
.video-play,
.video-pause,
.redeem-ecash,
.send-ecash,
.restore,
.nut-zap,
.deposit-sats {
    min-width: 16px;
    min-height: 16px;
}

.arrow-12 {
    min-width: 12px;
    min-height: 12px;
}

.arrow-24,
.bold-24,
.bounties-24,
.code-24,
.curation-24,
.discord-logo-24,
.edit-24,
.facebook-logo-24,
.filter-24,
.home-24,
.image-24,
.instagram-logo-24,
.italic-24,
.plain-24,
.link-24,
.metamask-logo-24,
.podcast-24,
.posts-24,
.quote-24,
.search-24,
.setting-24,
.stories-24,
.title-24,
.trash-24,
.twitter-logo-24,
.video-24,
.admin-24,
.views-24,
.polls-24,
.categories-24,
.comment-24,
.like-24,
.like-bold-24,
.cancel-24,
.send-24,
.env-24,
.weechat-logo-24,
.warning-24,
.info-flag,
.success-24,
.golden-medal,
.silver-medal,
.bronze-medal,
.logout-24,
.copy-24,
.switch-arrows-24,
.user-24,
.server-24,
.key-icon-24,
.menu-24,
.lightning-24,
.arrow-up,
.arrow-up-bold,
.bolt-24,
.checkmark-24,
.upload-file-24,
.bookmark-24,
.bookmark-24-b,
.bookmark-i-24,
.bookmark-i-b-24,
.report-24,
.flag-24,
.fb-icon-24,
.whatsapp-icon-24,
.in-icon-24,
.share-icon-24,
.share-icon-2-24,
.add-curation-24,
.nip05-24,
.content-s-24,
.news-24,
.mobile-24,
.play-b-24,
.globe-24,
.calendar-24,
.note-24,
.cup-24,
.thumbsup-24,
.thumbsdown-24,
.msg-bubbles-24,
.medal-24,
.add-note-24,
.checkmark-c1-24,
.telegram-logo-24,
.msg-icon-24,
.nostr-icon-24,
.ringbell-24,
.protected-24,
.unprotected-24,
.buzz-24,
.folder-24,
.write-24,
.play-24,
.download-file-24,
.connect-24,
.infinity-24,
.connect-24,
.env-edit-24,
.quote-24,
.heart-24,
.heart-bold-24,
.switch-arrows-bold-24,
.quote-bold-24,
.note-2-24,
.hashtag-24,
.media-24,
.plus-sign-24,
.note-plus-24,
.play-plus-24,
.curation-plus-24,
.news-plus-24,
.posts-plus-24,
.sats-24,
.eye-opened-24,
.eye-closed-24,
.buzz-bold-24,
.curation-bold-24,
.env-bold-24,
.folder-bold-24,
.home-bold-24,
.media-bold-24,
.news-bold-24,
.note-2-bold-24,
.note-bold-24,
.play-bold-24,
.posts-bold-24,
.bookmark-i-bold-24,
.alby-logo-24,
.nwc-logo-24,
.comment-not-24,
.user-followed-24,
.share-v2-24,
.user-to-follow-24,
.user-to-unfollow-24,
.user-followed-w-24,
.plus-sign-w-24,
.trending-up-24,
.timeline-24,
.followings-24,
.wallet-24,
.webln-logo-24,
.mute-24,
.unmute-24,
.qrcode-24,
.wallet-add-24,
.text-24,
.button-24,
.container-one-24,
.container-one-one-24,
.container-one-two-24,
.container-two-one-24,
.youtube-logo-24,
.discord-logo-24,
.telegram-b-logo-24,
.twitter-w-logo-24,
.frames-24,
.smart-widget-24,
.smart-widget-bold-24,
.layout-24,
.clone-24,
.checkmark-tt-24,
.crossmark-tt-24,
.info-tt-24,
.smart-widget-checker-24,
.layers-24,
.smart-widget-draft-24,
.total-events-24,
.succeeded-events-24,
.failed-events-24,
.theme-24,
.cache-24,
.dashboard-24,
.dashboard-bold-24,
.bolt-bold-24,
.discover-24,
.discover-bold-24,
.info-24,
.custom-24,
.undo-24,
.wallet-confirm-24,
.logout-red-24,
.check-24,
.google-24,
.apple-24,
.emoji-24,
.translate-24,
.flag-en-24,
.flag-ar-24,
.flag-es-24,
.flag-pt-24,
.flag-ja-24,
.flag-zh-24,
.flag-th-24,
.flag-it-24,
.flag-fr-24,
.flag-hi-24,
.flag-ru-24,
.user-bold-24,
.export-24,
.github-logo-24,
.ringbell-bold-24,
.posts-bold-24,
.switch-arrows-v2-24,
.star-24,
.star-bold-24,
.burger-menu-24,
.raw-event-24,
.recent-24,
.recent-wr-24,
.republish-24,
.protected-2-24,
.orbit-24,
.orbit-bold-24,
.zapstore-24,
.bug-24,
.broken-image-24,
.pin-24,
.unpin-24,
.download-24,
.volume-muted-24,
.volume-normal-24,
.video-play-24,
.video-pause-24,
.redeem-ecash-24,
.send-ecash-24,
.restore-24,
.nut-zap-24,
.deposit-sats-24 {
    min-width: 24px;
    min-height: 24px;
}

.play-vid-58,
.yaki-logomark {
    min-width: 48px;
    min-height: 48px;
}

.bunny-icon {
    min-width: 8rem;
    min-height: 8rem;
}

.pub-hex-24 {
    min-width: 24px;
    min-height: 24px;
}

.bold-icon {
    display: inline-block;
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
}

.redeem-ecash, .redeem-ecash-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/redeem-ecash.svg")
}

.send-ecash, .send-ecash-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/send-ecash.svg")
}

.restore, .restore-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/swap-mint-lightning.svg")
}

.nut-zap, .nut-zap-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/nut-zap.svg")
}

.deposit-sats, .deposit-sats-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/deposit-sats.svg")
}

.video-play, .video-play-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/video-play.svg")
}

.video-pause, .video-pause-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/video-pause.svg")
}

.volume-muted, .volume-muted-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/volume-muted.svg")
}

.volume-normal, .volume-normal-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/volume-normal.svg")
}

.download, .download-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/download.svg")
}

.pin, .pin-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/pin.svg")
}

.unpin, .unpin-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/unpin.svg")
}

.broken-image, .broken-image-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/broken-image.svg")
}

.bug, .bug-24 {
    background-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bug.svg")
}

.zapstore, .zapstore-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/Zapstore.svg');
}

.orbit-bold, .orbit-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/relay-orbits-filled.svg');
}

.orbit, .orbit-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/relay-orbits-mono.svg');
}

.protected-2, .protected-2-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/secure-mono.svg');
}

.republish, .republish-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/republish-2-mono.svg');
}

.recent-wr, .recent-wr-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/recent-with-replies-mono.svg');
}

.recent, .recent-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/recent-mono.svg');
}

.pub-hex, .pub-hex-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/pub-hex.svg');
}

.raw-event, .raw-event-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/raw-event.svg');
}

.burger-menu, .burger-menu-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/burger-menu.svg');
}

.star, .star-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/star.svg');
}

.star-bold, .star-boldt-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/star-bold.svg');
}

.keplr-icon {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/keplr-logo.svg');
    min-width: 48px;
    min-height: 48px;
}

.switch-arrows-v2,
.switch-arrows-v2-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/switch-arrows-v2.svg');
}

.posts-bold,
.posts-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/posts-bold.svg');
}

.ringbell-bold,
.ringbell-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/ringbell-bold.svg');
}

.github-logo,
.github-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/github-logo.svg');
}

.export,
.export-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/export.svg');
}

.user-bold,
.user-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/user-bold.svg');
}

.flag-it,
.flag-it-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-it.svg');
}

.flag-ru,
.flag-ru-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-ru.svg');
}

.flag-fr,
.flag-fr-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-fr.svg');
}

.flag-hi,
.flag-hi-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-hi.svg');
}

.flag-th,
.flag-th-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-th.svg');
}

.flag-ar,
.flag-ar-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-ar.svg');
}

.flag-en,
.flag-en-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-en.svg');
}

.flag-zh,
.flag-zh-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-zh.svg');
}

.flag-es,
.flag-es-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-es.svg');
}

.flag-pt,
.flag-pt-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-pt.svg');
}

.flag-ja,
.flag-ja-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag-ja.svg');
}

.translate,
.translate-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/translate.svg');
}

.emoji,
.emoji-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/emoji.svg');
}

.apple,
.apple-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/apple.svg');
}

.google,
.google-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/google.svg');
}

.check,
.check-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/check.svg');
}

.logout-red,
.logout-red-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/logout-red.svg');
}

.wallet-confirm,
.wallet-confirm-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/wallet-confirm.svg');
}

.undo,
.undo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/undo.svg');
}

.custom,
.custom-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/custom.svg');
}

.yaki-logomark,
.yaki-logomark-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/yaki-logomark.svg');
    min-width: 28px;
    min-height: 28px;
}

.info,
.info-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/info.svg');
    -webkit-mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/info.svg');
    min-width: 28px;
    min-height: 28px;
}

.discover,
.discover-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/discover.svg');
}

.discover-bold,
.discover-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/discover-bold.svg');
}

.dashboard,
.dashboard-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/dashboard.svg');
}

.dashboard-bold,
.dashboard-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/dashboard-bold.svg');
}

.cache,
.cache-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/cache.svg');
}

.theme,
.theme-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/theme.svg');
}

.total-events,
.total-events-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/total-events.svg');
}

.succeeded-events,
.succeeded-events-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/succeeded-events.svg');
}

.failed-events,
.failed-events-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/failed-events.svg');
}

.bunny-icon {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bunny-icon.svg');
}

.smart-widget-draft,
.smart-widget-draft-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/sw-draft.svg');
}

.layers,
.layers-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/layers.svg');
}

.smart-widget-checker,
.smart-widget-checker-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/smart-widget-checker.svg');
}

.checkmark-tt,
.checkmark-tt-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/checkmark-tt.svg');
}

.crossmark-tt,
.crossmark-tt-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/crossmark-tt.svg');
}

.info-tt,
.info-tt-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/info-tt.svg');
    -webkit-mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/info-tt.svg');
}

.clone,
.clone-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/clone.svg');
}

.layout,
.layout-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/layout.svg');
}

.frames,
.frames-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/frames.svg');
}

.smart-widget,
.smart-widget-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/smart-widget.svg');
}

.smart-widget-bold,
.smart-widget-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/smart-widget-bold.svg');
}

.telegram-b-logo,
.telegram-b-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/telegram.svg');
}

.youtube-logo,
.youtube-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/youtube.svg');

}

.container-one,
.container-one-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/container-one.svg');
}

.container-one-one,
.container-one-one-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/container-one-one.svg');
}

.container-one-two,
.container-one-two-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/container-one-two.svg');
}

.container-two-one,
.container-two-one-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/container-two-one.svg');
}

.button,
.button-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/button.svg');
}

.text,
.text-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/text.svg');
}

.smart-widget-add,
.smart-widget-add-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/smart-widget.svg');
}

.wallet-add,
.wallet-add-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/wallet-add.svg');
}

.qrcode,
.qrcode-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/qrcode.svg');
}

.unmute,
.unmute-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/unmute.svg');
}

.mute,
.mute-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/mute.svg');
}

.webln-logo,
.webln-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/webln-logo.svg');
}

.wallet,
.wallet-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/wallet.svg');
}

.followings,
.followings-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/followings.svg');
}

.timeline,
.timeline-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/timeline.svg');
}

.trending-up,
.trending-up-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/trending-up.svg');
}

.share-v2,
.share-v2-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/share-v2.svg');
}

.comment-not,
.comment-not-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/comment-not.svg');
}

.user-to-follow,
.user-to-follow-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/user-to-follow.svg');
}

.user-to-unfollow,
.user-to-unfollow-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/user-to-unfollow.svg');
}

.user-followed,
.user-followed-24,
.user-followed-w,
.user-followed-w-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/user-followed.svg');
}

.user-followed-w,
.user-followed-w-24, .twitter-w-logo, .twitter-w-logo-24 {
    filter: invert();
}

.nwc-logo,
.nwc-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/nwc-logo.svg');
}

.alby-logo,
.alby-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/alby-logo.svg');
}

.bookmark-i-bold,
.bookmark-i-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bookmark-i-bold.svg');
}

.buzz-bold,
.buzz-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/buzz-bold.svg');
}

.curation-bold,
.curation-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/curation-bold.svg');
}

.env-bold,
.env-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/env-bold.svg');
}

.folder-bold,
.folder-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/folder-bold.svg');
}

.home-bold,
.home-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/home-bold.svg');
}

.media-bold,
.media-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/media-bold.svg');
}

.news-bold,
.news-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/news-bold.svg');
}

.note-2-bold,
.note-2-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/note-2-bold.svg');
}

.note-bold,
.note-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/note-bold.svg');
}

.posts-bold,
.posts-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/posts-bold.svg');
}

.play-bold,
.play-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/play-bold.svg');
}

.eye-closed,
.eye-closed-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/eye-closed.svg');
}

.eye-opened,
.eye-opened-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/eye-opened.svg');
}

.sats,
.sats-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/sats.svg');
}

.note-plus,
.note-plus-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/note-plus.svg');
}

.play-plus,
.play-plus-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/play-plus.svg');
}

.news-plus,
.news-plus-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/news-plus.svg');
}

.curation-plus,
.curation-plus-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/curation-plus.svg');
}

.posts-plus,
.posts-plus-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/posts-plus.svg');
}

.plus-sign,
.plus-sign-24,
.plus-sign-w,
.plus-sign-w-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/plus-sign.svg');
}

.plus-sign,
.plus-sign-w {
    min-width: 10px;
    min-height: 10px;
}

.plus-sign-w,
.plus-sign-w-24 {
    filter: invert();
}

.media,
.media-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/media.svg');
}

.hashtag,
.hashtag-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/hashtag.svg');
}

.note-2,
.note-2-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/note-2.svg');
}

.quote-bold,
.quote-bold-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/quote-bold.svg');
    -webkit-mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/quote-bold.svg');
}

.switch-arrows-bold,
.switch-arrows-bold-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/switch-arrows-bold.svg');
    -webkit-mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/switch-arrows-bold.svg');
}

.heart,
.heart-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/heart.svg');
}

.heart-bold,
.heart-bold-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/heart-bold.svg');
    -webkit-mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/heart-bold.svg');
}

.quote,
.quote-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/quote.svg');
}

.infinity,
.infinity-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/infinity.svg');
}

.ai-loader,
.ai-loader-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/ai_loading.gif');
}

.connect,
.connect-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/connect.svg');
    filter: invert();
}

.ai-loader,
.ai-loader-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/ai_loading.gif');
}

.env-edit,
.env-edit-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/env-edit.svg');
}

.download-file,
.download-file-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/download-file.svg');
}

.play-vid,
.play-vid-58 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/play-vid.svg');
}

.play,
.play-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/play.svg');
}

.like-bold,
.like-bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/like-bold.svg');
}

.write,
.write-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/write.svg');
}

.folder,
.folder-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/folder.svg');
}

.buzz,
.buzz-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/buzz.svg');
}

.unprotected,
.unprotected-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/unprotected.svg');
}

.protected,
.protected-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/protected.svg');
}

.ringbell,
.ringbell-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/ringbell.svg');
}

.msg-icon,
.msg-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/msg-icon.svg');
}

.nostr-icon,
.nostr-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/nostr-icon.svg');
}

.telegram-logo,
.telegram-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/telegram-logo.svg');
}

.add-note,
.add-note-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/add-note.svg');
}

.medal,
.medal-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/medal.svg');
}

.msg-bubbles,
.msg-bubbles-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/msg-bubbles.svg');
}

.thumbsup,
.thumbsup-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/thumbsup.svg');
}

.thumbsdown,
.thumbsdown-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/thumbsdown.svg');
}

.cup,
.cup-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/cup.svg');
}

.note,
.note-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/note.svg');
}

.calendar,
.calendar-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/calendar.svg');
}

.globe,
.globe-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/globe.svg');
}

.play-b,
.play-b-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/play-b.svg');
}

.mobile,
.mobile-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/mobile.svg');
}

.news,
.news-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/news.svg');
}

.content-s,
.content-s-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/content-s.svg');
}

.nip05,
.nip05-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/nip05.svg');
}

.add-curation,
.add-curation-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/add-curation.svg');
}

.share-icon,
.share-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/share.svg');
}

.share-icon-2,
.share-icon-2-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/share-icon-2.svg');
}

.in-icon,
.in-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/in-icon.svg');
}

.whatsapp-icon,
.whatsapp-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/whatsapp-icon.svg');
}

.fb-icon,
.fb-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/fb-icon.svg');
}

.report,
.report-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/report.svg');
}

.bookmark-b,
.bookmark-24-b {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bookmark-checked-2.svg');
}

.bookmark,
.bookmark-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bookmark-add.svg');
}

.bookmark-i-b,
.bookmark-i-b-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/save-bookmark-b.svg');
}

.bookmark-i,
.bookmark-i-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/save-bookmark.svg');
}

.upload-file, .upload-file-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/upload-file.svg');
}

.flag, .flag-24 {
    cursor: pointer;
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/flag.svg');
}

.checkmark, .checkmark-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/checkmark.svg');
}

.checkmark-c1, .checkmark-c1-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/checkmark-c1.svg');
    -webkit-mask-image: url("https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/checkmark-c1.svg");
}


.bolt, .bolt-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bolt.svg');
}

.bolt-bold, .bolt-bold-24 {
    background-color: var(--c1);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    filter: none !important;
    mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bolt-bold-c1.svg');
    -webkit-mask-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bolt-bold-c1.svg');
}

.arrow-up {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/arrow-up.svg');
}

.arrow-up:hover {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/arrow-up-bold.svg');
}

.arrow-up-bold {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/arrow-up-bold.svg');
}

.lightning, .lightning-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/lightning.svg');
}


.menu, .menu-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/menu.svg');
}

.user, .user-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/user.svg');
}

.server, .server-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/relay.svg');
}

.key-icon, .key-icon-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/keys.svg');
}

.copy, .copy-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/copy.svg');
}

.bronze-medal {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bronze-medal.svg');
}

.silver-medal {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/silver-medal.svg');
}

.golden-medal {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/golden-medal.svg');
}

.info-flag, .info-flag-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/info-flag.svg');
}

.warning, .warning-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/warning.svg');
}

.success, .success-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/success.svg');
}

.weechat-logo, .weechat-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/weechat-logo.png');
}

.logout, .logout-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/logout.svg');
}

.switch-arrows, .switch-arrows-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/switch-arrows.svg');
}

.env, .env-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/env.svg');
}

.cancel, .cancel-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/cancel.svg');
}

.comment-icon, .comment-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/comment.svg');
}

.send, .send-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/send.svg');
}

.like, .like-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/like.svg');
}

.categories, .categories-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/categories.svg');
}

.polls, .polls-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/polls.svg');
}

.views, .views-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/views.svg');
}

.admin, .admin-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/admin.svg');
}

.arrow, .arrow-24, .arrow-12 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/arrow.svg');
}

.bold, .bold-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bold.svg');
}

.bounties, .bounties-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/bounties.svg');
}

.code, .code-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/code.svg');
}

.curation, .curation-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/curation.svg');
}

.discord-logo, .discord-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/discord-logo.svg');
    filter: invert();
}

.edit, .edit-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/edit.svg');
}

.facebook-logo, .facebook-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/facebook-logo.svg');
}

.filter, .filter-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/filter.svg');
}

.home, .home-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/home.svg');
}

.image, .image-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/image.svg');
}

.instagram-logo, .instagram-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/instagram-logo.svg');
}

.italic, .italic-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/italic.svg');
}

.plain, .plain-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/plain.svg');
}

.link, .link-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/link.svg');
}

.metamask-logo, .metamask-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/metamask-logo.svg');
}

.podcast, .podcast-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/podcast.svg');
}

.posts, .posts-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/posts.svg');
}

.quote, .quote-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/quote.svg');
}

.search, .search-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/search.svg');
}

.setting, .setting-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/setting.svg');
}

.stories, .stories-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/stories.svg');
}

.title, .title-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/title.svg');
}

.trash, .trash-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/trash.svg');
}

.twitter-logo, .twitter-logo-24, .twitter-w-logo, .twitter-w-logo-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/twitter-logo.svg');
}

.video, .video-24 {
    background-image: url('https://yakihonne.s3.ap-east-1.amazonaws.com/media/icons-mono/video.svg');
}

.article .arrow,
.article .bold,
.article .bounties,
.article .code,
.article .curation,
.article .discord-logo,
.article .edit,
.article .facebook-logo,
.article .filter,
.article .home,
.article .image,
.article .instagram-logo,
.article .italic,
.article .link,
.article .metamask-logo,
.article .podcast,
.article .posts,
.article .quote,
.article .search,
.article .setting,
.article .stories,
.article .title,
.article .trash,
.article .twitter-logo,
.article .video,
.article .env,
.article .warning,
.article .success,
.article .weechat-logo,
.article .arrow-24,
.article .bold-24,
.article .bounties-24,
.article .code-24,
.article .curation-24,
.article .discord-logo-24,
.article .edit-24,
.article .facebook-logo-24,
.article .filter-24,
.article .home-24,
.article .image-24,
.article .instagram-logo-24,
.article .italic-24,
.article .plain,
.article .plain-24,
.article .link-24,
.article .metamask-logo-24,
.article .podcast-24,
.article .posts-24,
.article .quote-24,
.article .search-24,
.article .setting-24,
.article .stories-24,
.article .title-24,
.article .trash-24,
.article .twitter-logo-24,
.article .video-24,
.article .admin,
.article .admin-24,
.article .views,
.article .views-24,
.article .polls,
.article .polls-24,
.article .categories,
.article .categories-24,
.article .comment,
.article .comment-24,
.article .like,
.article .like-24,
.article .send,
.article .send-24,
.article .cancel,
.article .cancel-24,
.article .env-24,
.article .logout,
.article .logout-24,
.article .weechat-logo-24,
.article .warning-24,
.article .success-24,
.article .golden-medal,
.article .silver-medal,
.article .bronze-medal,
.article .copy-24,
.article .switch-arrows,
.article .switch-arrows-24,
.article .user,
.article .user-24 {
    background-image: none;
}

.drag-el {
    position: relative;
}

.drag-el:before {
    content: '.';
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-size: 20px;
    line-height: 20px;
    color: var(--gray);
    cursor: grabbing;
    text-shadow: 0 5px var(--gray), 0 10px var(--gray), 5px 0 var(--gray), 5px 5px var(--gray), 5px 10px var(--gray);
}